@import url("https://fonts.googleapis.com/css?family=Lato:400,600");

$light: #fdfbfb;
$med: #ed572d;
$med1: #F2B47C;
$med2: #f9748f;
$dark: #3EAFD6;
$dark1: #ef5b85; 

$border-radius: 1rem;
$box-shadow: 0 0.7rem 2rem rgba($dark, 0.4);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  background-size: 200%;
 background: linear-gradient(125deg, rgba($med, 0.2), rgba($dark, 0.2));
  animation: background 15s ease infinite;
  margin: 0;
  font-family: "Lato", sans-serif;
  color: $dark;
}

.App {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
}

.Profile {
  z-index: 5;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background: $light;
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 5vh 0 5vh 0;
  overflow-y: scroll;
  h1,
  .email {
    text-align: center;
    color: $light;
  }
  h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .profileImage.main {
    width: 8rem;
    height: 6rem;
    margin: 4vh auto 15vh auto;
  }
  .top-half {
    display: block;
    flex: none;
    padding-top: 5vh;
    border-radius: $border-radius $border-radius  0 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, $light,$dark);
    background-size: cover;
    background-position: bottom;
  }
  
}

.profileImage {
  border-radius: 20%;
  object-fit: cover;
}

.icons {
  display: flex;
  justify-content: stretch;
  align-items: center;
  a {
    flex: auto;
    color: $med;
    position: relative;
    padding: 2vh;
    svg {
      width: 100%;
    }
    &.active:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 0.8vh;
      background: $med2;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.prev-chats {
  flex: 1 1 auto;
  margin: 1rem 2rem 0 2rem;
  overflow-y: scroll;
}

$profile-size: 4.2rem;
.prev-chat {
  display: grid;
  grid-template-columns: $profile-size 1fr;
  grid-template-rows: $profile-size / 2;
  grid-column-gap: 1.5rem;
  grid-template-areas:
    "pic header"
    "pic text";
  justify-items: stretch;
  align-items: stretch;
  margin: 1rem 0 1rem 0;
  line-height: 2.5rem;
  .profileImage {
    background: linear-gradient(0deg, $med, $med1);
    grid-area: pic;
    width: $profile-size;
    height: $profile-size;
    padding: 0.2rem;
    margin: 0.3rem;
  }
    &:first-child {
      h2 {
      color:$dark;
      }
    }
  h2 {
    font-weight: 600;
    grid-area: header;
    color: $med;
  }
  p {
    grid-area: text;
    color: $med1;
    text-overflow: fade;
    white-space: nowrap;
  }
}

.Conversation {
  padding-right: 0.5rem;
  position: relative;
  box-shadow: $box-shadow;
  border-radius: $border-radius 0 0 $border-radius;
  background: $light;
  margin: 12vh 0 12vh 0;
  display: flex;
  flex-direction: column;
  svg {
    color: $med;
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  header {
    flex: none;
    display: flex;
    height: 3rem;
    align-items: center;
    position: relative;
    .name {
      flex: auto;
      text-align: center;
    }
    svg {
      position: absolute;
      margin-left: 0.8rem;
    }
  }
  .container {
    flex: auto;
    width: 22rem;
    overflow-y: scroll;
    .Messages {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      .Message {
        margin: 0.5rem 0.8rem 0.5rem 0.8rem;
        
        max-width: 70%;
        display: inline-flex;
        flex-direction: column;
        &.you {
          align-self: flex-end;
          align-items: flex-end;
        }
        &.you span {
          border-radius: $border-radius 0rem $border-radius $border-radius;
          background: $dark;
          color: $light;
        }
        &.them span {
          border-radius: 0 $border-radius $border-radius $border-radius;
          background: $light;
        }
        span {  
         padding: 1rem;
          box-shadow: 0.5rem 0.7rem 4rem rgba($dark, 0.4);
          overflow-wrap: break-word;
          word-wrap: break-word;
          word-break: break-word;
          hyphens: auto;
        }
        p {
          margin-top: 1rem;
          display: inline-block;
          color: $med2;
        }
        &:last-child {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.messageInput {
  background: transparent;
  font-size: 0.9rem;
}

input {
  border: none;
  padding: 1.5rem;
  color: $dark;
}

input::placeholder {
   color:$med;
}

button {
  border: none;
  background: transparent;
  padding: 1rem 1.5rem 1rem 1rem;
}


.LoginForm {
  animation: fadeIn 3s ease 0.3s;
  z-index: 20;
  background: linear-gradient(125deg, rgba($med, 0.9), rgba($dark, 1));
  position: absolute;
  width: 100vw;
  height: 100%;
  .sign-up {
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background: $light;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vh;
    margin: 15vh auto;
    padding: 8vh 6vh 8vh 6vh;
    justify-content: space-between;
    align-items: stretch;
    h1 {
      font-weight: 600;
      font-size: 10 vh;
      margin-bottom: 3vh;
      background:  $med ;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .input {
      display: block;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.3vh;
        background: linear-gradient(90deg, $med, $med1);
      }
    }
    .input svg {
      height: 3vh;
      position: absolute;
      top: 35%;
      right: 0.5rem;
      background: transparent;
    }
    input {
      display: block;
      padding: 3.5vh;
      font-size: 2.5vh;
      background: transparent;
      position: relative;
    }
    button {
      flex: none;
      font-size: 2.3vh;
      width: 70%;
      color: $light;
      font-weight: 500;
      margin-top: 5vh;
      border-radius: $border-radius;
      background: $med;
    }
  }
}

@keyframes fadeIn { 
    0%{
      opacity: 0;
      transform: translateY(-50px);
  }
    100%{
      opacity: 1;
      transform: none;
  }
}

@keyframes background { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
